#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define NAV     3
#define QWER    4

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |   `   |  Q  |  D  |  R  |  W  |  B  |                  |  J  |  F   |  U  |  P  |  ;  | DEL  |
// |  TAB  |  A  |  S  |  H  |  T  |  G  |                  |  Y  |  N   |  E  |  O  |  I  |  '   |
// |  GUI  |  Z  |  X  |  M  |  C  |  V  |                  |  K  |  L   |  ,  |  .  |  /  | SHFT |
//          | raise_layer | SHFT,BSPC | LCTRL,TAB |  | ALT,ENT | SPACE  | lower_layer |
                        bindings = <
   &kp GRAVE &kp Q &kp D &kp R &kp W &kp B                  &kp J &kp F  &kp U     &kp P   &kp SEMI    &kp DEL
   &kp TAB   &kp 4 &kp S &kp H &kp T &kp G                  &kp Y &kp N  &kp E     &kp O   &kp I       &kp SINGLE_QUOTE
   &kp LGUI  &kp Z &kp X &kp M &kp C &kp V                  &kp K &kp L  &kp COMMA &kp DOT &kp FSLH    &kp RSHFT
          &mo RAISE &mt LSHFT BSPC &mt LCTRL TAB        &mt RALT ENTER &kp SPACE &mo LOWER
                        >;
                };

                lower_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  1  |  2  |  3  |  4  |  5  |                                       |  6  |  7  |  8  |  9  |  0  | BSPC |
// | QWER |     |     |HOME | END |     |                                       | "|" |  -  |  =  |  [  |  ]  | PGUP |
// |      |     |     |     |     |     |                                       |     |     |     |     |     | PGDN |
//                  | raise_layer |     | SHFT |                          | ENT |     | lower_layer |
                        bindings = <
   &kp ESC      &kp N1     &kp N2     &kp N3    &kp N4     &kp N5                &kp N6      &kp N7     &kp N8    &kp N9    &kp N0    &kp BSPC
   &tog QWER    &trans     &trans     &kp 0x4A  &kp 0x4D   &trans                &kp BSLH    &kp MINUS  &kp EQL   &kp LBKT  &kp RBKT  &kp PAGE_UP
   &trans    &trans     &trans     &trans    &trans     &trans                &trans      &trans     &trans    &trans    &trans    &kp PAGE_DOWN
                                                     &mo 2 &trans &trans    &trans &trans &mo 1
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  !  | @   |  #  |  $  |  %  |                                |  ^  |  &  |  *  |  (  |  )  | BTC  |
// | NAV  | NP4 | NP2 | NP8 | NP6 | NP5 |                                | LFT | DWN |  UP | RGT |     |      |
// |      | F1  | F2  | F3  | NP3 |     |                                |     | BT0 | BT1 | BT2 | BT3 | BT4  | // TODO: Fix this row when &mkp is committed
//                    | raise_layer |   | SHFT |                   | ENT |     | lower_layer |
                        bindings = <
   &kp ESC     &kp EXCL &kp AT    &kp HASH  &kp DLLR   &kp PRCNT            &kp CARET   &kp AMPERSAND  &kp STAR       &kp LPAR       &kp RPAR        &bt BT_CLR
   &tog NAV    &kp 0x5C &kp 0x5A  &kp 0x60  &kp 0x5E   &kp 0x5D             &kp LEFT    &kp DOWN       &kp UP         &kp RIGHT      &trans          &trans
   &trans      &kp F1   &kp F2    &kp F3    &kp 0x5B   &trans               &trans      &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3    &bt BT_SEL 4
                                             &mo 2 &trans &trans       &trans &trans &mo 1
                        >;
                };

                navigation_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  !  | @   |  #  |  $  |   % |                                |  ^  |  &  |  *  |  (  |  )  |      |
// |  tog | NP4 | NP2 | NP8 | NP6 | NP5 |                                | LFT | DWN |  UP | RGT |     |      |
// |      | F1  | F2  | F3  | NP3 |     |                                |     |     |     |     |     |      | // TODO: Fix this row when &mkp is committed
//                    | raise_layer |   | SHFT |                   | ENT |     | lower_layer |
                        bindings = <
   &kp ESC     &kp EXCL &kp AT    &kp HASH  &kp DLLR   &kp PRCNT            &kp CARET   &kp AMPERSAND  &kp STAR       &kp LPAR       &kp RPAR        &trans
   &tog NAV      &kp 0x5C &kp 0x5A  &kp 0x60  &kp 0x5E   &kp 0x5D             &kp LEFT    &kp DOWN       &kp UP         &kp RIGHT      &trans          &trans
   &trans    &kp F1   &kp F2    &kp F3    &kp 0x5B   &trans               &trans      &trans         &trans         &trans         &trans          &trans
                                             &mo 2 &trans &trans       &trans &trans &mo 1
                        >;
                };
                
                
                qwerty_layer {
// -----------------------------------------------------------------------------------------
// |   `  |  Q  |  D  |  R  |  W  |  B  |              |  J  |  F   |  U  |  P  |  ;  | DEL |
// | TAB  |  A  |  S  |  H  |  T  |  G  |              |  Y  |  N   |  E  |  O  |  I  |  '  |
// | tog  |  Z  |  X  |  M  |  C  |  V  |              |  K  |  L   |  ,  |  .  |  /  | ALT |
//                 | raise_layer | BSPC | LCTRL |   | ENT | SPACE  | lower_layer |
                        bindings = <
   &kp GRAV      &kp Q &kp W &kp E &kp R &kp T       &kp Y &kp U  &kp I     &kp O   &kp P       &kp DEL
   &kp TAB       &kp 4 &kp S &kp D &kp F &kp G       &kp H &kp J  &kp K     &kp L   &kp SCLN    &kp QUOT
   &tog QWER     &kp Z &kp X &kp C &kp V &kp B       &kp N &kp M  &kp COMMA &kp DOT &kp FSLH    &kp RALT
                            &mo 2 &trans &trans     &trans &trans &mo 1
                        >;
                };
        };
};
