#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define RSIDE   1
#define LSIDE   2
#define MOD     3
#define MCR     4
#define BT      5
#define QWER    6

&lt {
  tapping-term-ms = <145>;
  flavor = "balanced";
};

/ {
        combos {
                compatible = "zmk,combos";
                combo_bspc {
                    timeout-ms = <50>;
                    key-positions = <38 40>;
                    bindings = <&kp BSPC>;
                };
                combo_minus {
                  timeout-ms = <50>;
                  key-positions = <19 39>;
                  bindings = <&kp MINUS>;
                };
        };
 
        behaviors {
                hm: homerow_mods {
                        compatible = "zmk,behavior-hold-tap";
                        label = "HOMEROW_MODS";
                        #binding-cells = <2>;
                        tapping-term-ms = <120>;
                        quick_tap_ms = <0>;
                        flavor = "tap-preferred";
                        bindings = <&kp>, <&kp>;
                };
        };
        
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |     | Q |  D  |  R  |  W  |  B  |                  |  J  |  F   |  U  |  P  |  ;  |     |
// |     | A |  S  |  H  |  T  |  G  |                  |  Y  |  N   |  E  |  O  |  I  |     |
// |     | Z |  X  |  M  |  C  |  V  |                  |  K  |  L   |  ,  |  .  |  /  | MCR |
//            | LCTRL | LEFT,BSPC | SHFT |          | ENTER | RIGHT,SPACE  | ALT |
                        bindings = <
   &trans    &kp Q &kp D  &kp R  &kp W  &kp B           &kp J &kp F   &kp U      &kp P   &kp SEMI  &trans
   &trans    &kp A &kp S  &kp H  &kp T  &kp G           &kp Y &kp N   &kp E      &kp O   &kp I     &trans
   &trans    &kp Z &kp X  &kp M  &kp C  &kp V           &kp K &kp L   &kp COMMA  &kp DOT &kp FSLH  &tog MCR
                     &kp BSPC &kp LSHFT &sk LCTRL    &mt RALT ENTER &lt RSIDE SPACE &mo LSIDE
                        >;
                };

                right_layer {
// -----------------------------------------------------------------------------------------
// |      |  1  |  2  |  3  |  4  |  5  |                                       |  6  |  7  |  8  |  9  |  0  |     |
// | QWER |  '  |  `  | LALT| TAB | ESC |                                       | LFT | DWN | UP  | RGT |  ~  |     |
// |      | HOME| GUI |     | DEL |     |                                       |     |     |     |     | END |     |
//                          | BT |    |     |                          | ENT |     | lower_layer |
                        bindings = <
   &trans    &kp N1    &kp N2     &kp N3   &kp N4    &kp N5                &kp N6          &kp N7         &kp N8     &kp N9           &kp N0    &trans
   &to QWER  &kp SQT   &kp GRAVE  &kp LALT &kp TAB   &kp ESC               &kp LEFT_ARROW  &kp DOWN       &kp UP     &kp RIGHT_ARROW  &kp TILDE  &trans
   &trans    &kp HOME  &kp LGUI   &trans   &kp DEL   &trans                &trans          &trans         &trans     &trans           &kp END   &trans
                                         &mo BT &trans &mo MOD         &trans &trans &trans
                        >;
                };

                left_layer {
// -----------------------------------------------------------------------------------------
// |    |  !  |  @  | F4  |LC(W)|LC(B)|                                | "|" | C(F)| C(U)|  {  |  :  |      |
// |    |  "  | CTL | ALT |     | ESC |                                |  \  |  -  |  =  |  [  |  ]  |      |
// |    |HOME | GUI |     |LC(C)| SCV |                                | NP4 | NP2 |  <  |  >  |  ?  |      | // TODO: Fix this row when &mkp is committed
//                              |    |   |    |                   | MOD |     | BT |
                        bindings = <
   &trans  &kp EXCL    &kp AT    &kp F4   &kp LC(W) &kp LC(B)             &kp PIPE   &kp LC(F)  &kp LC(U) &kp LBRC  &kp COLON  &trans
   &trans  &kp LS(SQT) &sk LCTRL &sk LALT &trans    &kp ESC               &kp BSLH   &kp MINUS  &kp EQUAL &kp LBKT  &kp RBKT   &trans
   &trans  &kp HOME    &kp LGUI  &trans   &kp LC(C) &kp LS(LC(V))         &kp 0x5C   &kp 0x5A   &kp LT    &kp GT    &kp QMARK  &trans
                                              &trans &trans &trans       &mo MOD &trans &trans
                        >;
                };

                mod_layer {
// -----------------------------------------------------------------------------------------
// |    |  !  |  @  |  #  |  $  |  %  |                                |  ^  |  &  |  *  |  (  |  )  |      |
// |    |  "  |  ~  | LALT| TAB | ESC |                                | '|' |  _  |  +  |  {  |  }  |      |
// |    |HOME | GUI |     | DEL | SCV |                                | NP4 | NP2 | NP8 | NP6 | NP5 |      | // TODO: Fix this row when &mkp is committed
//                              |    |   |    |                   |       |      | BT |
                        bindings = <
   &trans  &kp EXCL    &kp AT          &kp HASH &kp DLLR  &kp PRCNT             &kp CARET  &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR   &trans
   &trans  &kp LS(SQT) &kp LS(GRAVE)   &kp LALT  &kp TAB  &kp ESC               &kp PIPE   &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC   &trans
   &trans  &kp HOME    &kp LGUI        &trans   &kp DEL   &kp LS(LC(V))         &kp 0x5C   &kp 0x5A  &kp 0x60  &kp 0x5E  &kp KP_N5  &trans
                                                      &trans &trans &trans       &trans &trans &mo BT
                        >;
                };

                minecraft_layer {
// -----------------------------------------------------------------------------------------
// |  F  |  9  |  Q  |  W  |  E  |  1  |                                |  ^  |  &  |  *  |  (  |  )  | END  |
// |  F5 |  8  |  A  |  S  |  D  |  2  |                                | LFT | DWN |  UP | RGT |     |      |
// |     |  7  |  6  |  5  |  4  |  3  |                                |     |     |     |     |     | MCR  | // TODO: Fix this row when &mkp is committed
//               | CTRL  | SPACE  | SHFT |                   | ENT |     | lower_layer |
                        bindings = <
   &kp F     &kp N9   &kp Q    &kp W     &kp E     &kp N1                     &kp CARET       &kp AMPERSAND  &kp STAR  &kp LPAR         &kp RPAR &kp END
   &kp F5    &kp N8   &kp A    &kp S     &kp D     &kp N2                     &kp LEFT_ARROW  &kp DOWN       &kp UP    &kp RIGHT_ARROW  &trans   &trans
   &trans    &kp N7   &kp N6   &kp N5    &kp N4    &kp N3                     &trans          &trans         &trans    &trans           &trans   &tog MCR
                                    &kp LCTRL  &kp SPACE &kp LSHFT       &trans &trans &trans
                        >;
                };

                bluetooth_layer {
// -----------------------------------------------------------------------------------------
// |  BTC |     |     |     |     |     |                                |     |     |     |     |     |      |
// |      |     |     |     |     |     |                                |     |     |     |     |     |      |
// |      |     |     |     |     |     |                                |     | BT0 | BT1 | BT2 | BT3 | BT4  | // TODO: Fix this row when &mkp is committed
//                    | raise_layer |   | SHFT |                   | ENT |     | lower_layer |
                        bindings = <
   &bt BT_CLR  &trans   &trans   &trans  &trans    &trans            &trans   &trans        &trans        &trans         &trans        &trans
   &trans      &trans   &trans   &trans  &trans    &trans            &trans   &trans        &trans        &trans         &trans        &trans
   &trans      &trans   &trans   &trans  &trans    &trans            &trans   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2   &bt BT_SEL 3  &bt BT_SEL 4
                                      &trans  &trans &trans       &trans &trans &trans
                        >;
                };
                
                qwerty_layer {
// -----------------------------------------------------------------------------------------
// |   `  |  Q  |  W  |  E  |  R  |  T  |              |  Y  |  U   |  I  |  O  |  P  | DEL |
// | tog  |  A  |  S  |  D  |  F  |  G  |              |  H  |  J   |  K  |  L  |  ;  |  '  |
// | TAB  |  Z  |  X  |  C  |  V  |  B  |              |  N  |  M   |  ,  |  .  |  /  | MCR |
//                  | LEFT | SHIFT | CTL,TAB |   | ALT,ENT | SPACE  | RIGHT |
                        bindings = <
   &kp GRAVE  &kp Q &kp W &kp E &kp R &kp T              &kp Y &kp U  &kp I     &kp O   &kp P     &kp DEL
   &to 0      &kp 4 &kp S &kp D &kp F &kp G              &kp H &kp J  &kp K     &kp L   &kp SCLN  &kp SQT
   &kp TAB    &kp Z &kp X &kp C &kp V &kp B              &kp N &kp M  &kp COMMA &kp DOT &kp FSLH  &tog MCR
                            &trans &trans &trans     &trans &trans &trans
                        >;
                };
        };
};
