#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define RIGHT   1
#define LEFT    2
#define NAV     3
#define BT      4
#define QWER    5

 &lt {
    tapping_term_ms = <75>;
 };

/ {
        behaviors {
                hm: homerow_mods {
                        compatible = "zmk,behavior-hold-tap";
                        label = "HOMEROW_MODS";
                        #binding-cells = <2>;
                        tapping_term_ms = <175>;
                        flavor = "tap-preferred";
                        bindings = <&kp>, <&kp>;
                };
        };
        
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  HOME,` | Q | D     | R |  W  |  B  |                          |  J  |  F   |  U  |  P  |  ;  | END,DEL  |
// |  ESC    | A | CTL,S | H |  T  |  G  |                          |  Y  |  N   |  E  |  O  |  I  |  '   |
// |  TAB    | Z | X     | M |  C  |  V  |                          |  K  |  L   |  ,  |  .  |  /  | NAV  |
//              | LEFT | SHFT,BSPC | CTL,TAB |                 | ALT,ENT | SPACE  | RIGHT |
                        bindings = <
   &hm HOME GRAVE &kp Q &kp D         &kp R  &kp W  &kp B           &kp J &kp F  &kp U     &kp P   &kp SEMI  &hm END DEL
   &kp ESC        &kp A &hm LCTRL S   &kp H  &kp T  &kp G           &kp Y &kp N  &kp E     &kp O   &kp I     &kp SINGLE_QUOTE
   &kp TAB        &kp Z &kp X         &kp M  &kp C  &kp V           &kp K &kp L  &kp COMMA &kp DOT &kp FSLH  &tog NAV
                           &mo LEFT  &kp LSHFT &mt LCTRL TAB    &mt RALT ENTER &kp SPACE &mo RIGHT
                        >;
                };

                right_layer {
// -----------------------------------------------------------------------------------------
// | ESC  |  1  |  2  |  3  |  4  |  5  |                                       |  6  |  7  |  8  |  9  |  0  | BSPC |
// | QWER |  !  |  @  |  #  |  $  |  %  |                                       |  \  |  -  |  =  |  [  |  ]  |      |
// | LGUI |     |     |     |     |     |                                       |     |     |     |     |     |      |
//                          | BT |    | BSPC |                          | ENT |     | lower_layer |
                        bindings = <
   &kp ESC   &kp N1    &kp N2  &kp N3    &kp N4    &kp N5                &kp N6     &kp N7         &kp N8     &kp N9    &kp N0    &kp BSPC
   &tog QWER &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT             &kp BSLH   &kp MINUS      &kp EQL    &kp LBKT  &kp RBKT  &trans
   &kp LGUI  &trans    &trans  &trans    &trans    &trans                &trans     &trans         &trans     &trans    &trans    &trans
                                       &mo BT &trans &kp BSPC         &trans &trans &trans
                        >;
                };

                left_layer {
// -----------------------------------------------------------------------------------------
// |  ESC | F2  | F3  | F4  | F5 | F6   |                                | "|" |  _  |  +  |  {  |  }  |  ESC |
// |      | "|" |  _  |  +  |  {  |  }  |                                |  \  |  -  |  =  |  [  |  ]  |      |
// | LGUI |     |     |     |     |     |                                | "|" |  _  |  +  |  {  |  }  |      | // TODO: Fix this row when &mkp is committed
//                              |    |   |    |                   | NAV | NAV  | BT |
                        bindings = <
   &kp ESC  &kp F2    &kp F3    &kp F4    &kp F5    &kp F6             &kp PIPE  &kp UNDER  &kp PLUS  &kp LBRC  &kp RBRC &kp ESC
   &trans   &kp PIPE  &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC           &kp BSLH  &kp MINUS  &kp EQL   &kp LBKT  &kp RBKT &trans
   &kp LGUI &trans    &trans    &trans    &trans    &trans             &kp PIPE  &kp UNDER  &kp PLUS  &kp LBRC  &kp RBRC &trans            
                                          &trans &trans &trans       &tog NAV &tog NAV &mo BT
                        >;
                };

                navigation_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  !  | @   |  #  |  $  |   % |                                |  ^  |  &  |  *  |  (  |  )  |      |
// |  tog | NP5 | NP4 | NP8 | NP2 | NP6 |                                | LFT | DWN |  UP | RGT |     |      |
// |      | F1  | F2  | F3  | NP3 |     |                                |     |     |     |     |     | NAV  | // TODO: Fix this row when &mkp is committed
//                    | raise_layer |   | SHFT |                   | ENT |     | lower_layer |
                        bindings = <
   &kp ESC   &kp EXCL &kp AT   &kp HASH  &kp DLLR  &kp PRCNT                  &kp CARET       &kp AMPERSAND  &kp STAR  &kp LPAR         &kp RPAR &trans
   &tog NAV  &kp 0x5D &kp 0x5C &kp 0x60  &kp 0x5A  &kp 0x5E                   &kp LEFT_ARROW  &kp DOWN       &kp UP    &kp RIGHT_ARROW  &trans   &trans
   &trans    &kp F1   &kp F2   &kp F3    &kp 0x5B  &trans                     &trans          &trans         &trans    &trans           &trans   &tog NAV
                                             &trans  &trans &trans       &trans &trans &trans
                        >;
                };

                bluetooth_layer {
// -----------------------------------------------------------------------------------------
// |  BTC |     |     |     |     |     |                                |     |     |     |     |     |      |
// |      |     |     |     |     |     |                                |     |     |     |     |     |      |
// |      |     |     |     |     |     |                                |     | BT0 | BT1 | BT2 | BT3 | BT4  | // TODO: Fix this row when &mkp is committed
//                    | raise_layer |   | SHFT |                   | ENT |     | lower_layer |
                        bindings = <
   &bt BT_CLR  &trans   &trans   &trans  &trans    &trans            &trans   &trans        &trans        &trans         &trans        &trans
   &trans      &trans   &trans   &trans  &trans    &trans            &trans   &trans        &trans        &trans         &trans        &trans
   &trans      &trans   &trans   &trans  &trans    &trans            &trans   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2   &bt BT_SEL 3  &bt BT_SEL 4
                                      &trans  &trans &trans       &trans &trans &trans
                        >;
                };
                
                qwerty_layer {
// -----------------------------------------------------------------------------------------
// |   `  |  Q  |  W  |  E  |  R  |  T  |              |  Y  |  U   |  I  |  O  |  P  | DEL |
// | TAB  |  A  |  S  |  D  |  F  |  G  |              |  H  |  J   |  K  |  L  |  ;  |  '  |
// | tog  |  Z  |  X  |  C  |  V  |  B  |              |  N  |  M   |  ,  |  .  |  /  | SHFT|
//                 |     | SHIFT | BSPC |   | ENT | SPACE  |     |
                        bindings = <
   &kp GRAV   &kp Q &kp W &kp E &kp R &kp T              &kp Y &kp U  &kp I     &kp O   &kp P     &kp DEL
   &kp TAB    &kp 4 &kp S &kp D &kp F &kp G              &kp H &kp J  &kp K     &kp L   &kp SCLN  &kp QUOT
   &tog QWER  &kp Z &kp X &kp C &kp V &kp B              &kp N &kp M  &kp COMMA &kp DOT &kp FSLH  &kp RSHFT
                            &trans &trans &trans     &trans &trans &trans
                        >;
                };
        };
};
